{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="static/naturegraphics/TrilliumColor.jpg">
    {% block head %} {% endblock %}
</head>
<style>
    .nav-link {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
    }

    .navbar-brand {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 24px;
    }

    .socials {
        width: auto;
        height: 40px;
        margin-right: 2px;
    }
</style>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-3 py-1">
        <div class="container-fluid">
            <a class="fw-bold navbar-brand mx-3" href="{% url 'naturegraphics:index' %}">Nature Graphics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-1 mb-md-0 fw-bold">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'naturegraphics:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'naturegraphics:portfolio' %}">Our Projects</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" data-bs-target="#navbar"
                            aria-expanded="true">Sample Designs</a> 
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'naturegraphics:culturalhistory' %}">Cultural History</a></li>
                            <li><a class="dropdown-item" href="{% url 'naturegraphics:naturalhistory' %}">Natural History</a></li>
                            <li><a class="dropdown-item" href="{% url 'naturegraphics:parkinformation' %}">Park Information</a></li>
                            <li><a class="dropdown-item" href="{% url 'naturegraphics:resourcemanagement' %}">Resource Management</a></li>
                        </ul>
                    </li>
                    
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-md-0 fw-bold align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="https://www.facebook.com/NatureGraphicsLLC"><img src="{% static 'naturegraphics/f_logo_RGB-Blue_58.png' %}" class="socials" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="https://www.facebook.com/NatureGraphicsLLC"><img src="{% static 'naturegraphics/LI-In-Bug.png' %}" class="socials" alt=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">(704) 880-8026</a>
                    </li>
                
                </ul>
            </div>
        </div>
    </nav>

    {% block body %} {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

</body>

</html>