{% extends 'naturegraphics/base.html' %}
{% load static %}

{% block head %}
<title>Nature Graphics</title>
<meta name="description" content="Nature Graphics is a graphic design firm specializing in the planning, writing, design, fabrication and installation of interpretive displays and wayfinding signage.">
{% endblock %}

{% block body %}
<style>
    #headline {
        background-color: rgb(156, 52, 52);
    }


    .title {
        color: rgb(255, 255, 255);
        /* font-family: 'DM Serif Display', serif; */
        white-space: nowrap;
    }

    h2 {
        /* font-family: 'DM Serif Display', serif; */
        font-size: 44px;
        color: var(--main-red-color);
    }

    h3 {
        /* font-family: 'DM Serif Display', serif; */
        font-size: 44px;
        color: var(--main-red-color);
    }

    p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 20px;
    }

    .btn {
        font-family: 'Nunito Sans', sans-serif;
        max-width: fit-content;
        font-weight: 600;
    }

    .headline-title {
        text-align: center
    }

    .trillium {
        width: 6rem;
        height: 6rem;
        margin-right: 10px;

    }

    .profiles {
        border-radius: 50%;
        height: 24rem;
        width: 24rem;
        overflow: hidden;
    }

    .jumbotron,
    .bubbles {
        max-width: 2000px;
    }


    @media (min-width: 992px) {
        .title {
            font-size: 68px;
        }

        #header-description {
            font-size: 26px;
        }

    }

    @media (min-width: 1500px) {
        .headline-title {
            text-align: left
        }
    }

    @media (max-width: 1200px) {
        .btn {
            width: fit-content;
            white-space: nowrap;
        }

    }

    @media (max-width: 991.98px) {
        .title {
            font-size: 52px;

        }



        .btn {
            width: fit-content;
            font-size: 16px;
            font-weight: 600;
            white-space: nowrap;

        }

        #header-description {
            font-size: 20px;
        }



        .profiles {
            border-radius: 50%;
            height: 22rem;
            width: 22rem;
            overflow: hidden;
        }
    }

    @media (min-width: 992px) {
        .trillium {
            width: 9rem;
            height: 9rem;
        }
    }

    @media (min-width: 1600px) {
        .trillium {
            width: 10rem;
            height: 10rem;
        }
    }

    @media (max-width: 575.98px) {
        .btn {
            width: fit-content;
            font-size: 14px;
            font-weight: 600;
            white-space: nowrap;
        }

        .trillium {
            width: 4rem;
            height: 4rem;
        }

        .title {
            font-size: 42px;
        }

        .profiles {
            border-radius: 50%;
            height: 20rem;
            width: 20rem;
            overflow: hidden;
        }

        #header-description {
            font-size: 20px;
        }

        h2 {

            font-size: 30px;
        }

        h3 {

            font-size: 30px;
        }

        p {

            font-size: 16px;
        }
    }

    @media screen and (max-width: 360px) and (orientation: portrait) {
        .headline-title {
            text-align: center
        }

        .title {
            font-size: 34px;
        }

        .trillium {
            width: 4rem;
            height: 4rem;
        }

        #header-description {
            font-size: 18px;
        }
    }
</style>

<body>
    <div>
        <div class="container-fluid" id="headline">
            <div
                class="row text-light pb-lg-0 pt-lg-5 px-lg-5 align-items-center justify-content-center px-xs-2 p-sm-3 jumbotron mx-auto">
                <div class="col-11 col-sm-10 col-xxl-6 p-lg-5 pt-lg-3 p-3 headline-title">
                    <h1 class="title"><img class="rounded-circle trillium"
                            src="{% static 'naturegraphics/TrilliumColor.jpg' %}">
                        Nature Graphics</h1>
                    <p class="mt-sm-5 mb-3 mb-sm-5" id="header-description">Specializing in interpretive displays and
                        wayfinding signage.</p>

                    <div class="mb-4 mb-lg-3">
                        <a type="button" class="btn btn-light btn-lg shadow-lg px-4 me-2"
                            href="{% url 'naturegraphics:contact' %}">Contact Us</a>
                        <a type="button" class="btn btn-light shadow-lg btn-lg px-4"
                            href="{% url 'naturegraphics:gallery' %}">Photo Gallery</a>
                    </div>
                </div>
                <div class="col-11 col-md-8 col-sm-10 col-xxl-5 p-0 mb-1 mb-md-5 shadow-lg ml-sm-5">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner rounded-3">
                            <div class="carousel-item active">
                                <img src="{% static 'naturegraphics/MOMI-Tower1PeaksDisplay.jpg' %}"
                                    class="img-fluid d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'naturegraphics/OKI_Estuaries.jpeg' %}" class="d-block w-100"
                                    alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'naturegraphics/PLC-Watersheds copy.jpg' %}" class="d-block w-100"
                                    alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'naturegraphics/Tri-foldMBAirForceBase.JPG' %}"
                                    class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-evenly p-md-5 bubbles mx-auto">
            <div class="col my-3 mx-3" style="min-width: 23rem; max-width: 30rem;">
                <div class="h-100">
                    <div class="text-center my-3">
                        <img class="rounded-circle profiles" src="{% static 'naturegraphics/display2.webp' %}">
                    </div>
                    <div class="text-center mt-4">
                        <h3 class="">About Us</h3>
                        <p>Nature Graphics is a graphic design firm specializing in the planning, writing, design,
                            fabrication and installation of interpretive displays and wayfinding signage. Established in
                            2003, we are experienced enough to handle the largest of wayside exhibit projects yet eager
                            enough to welcome even the smallest projects.</p>
                    </div>
                </div>
            </div>
            <div class="col my-3 mx-3" style="min-width: 23rem; max-width: 30rem;">
                <div class="h-100">
                    <div class="text-center my-3">
                        <img class="rounded-circle profiles"
                            src="{% static 'naturegraphics/OKI-SimpeRailmount.jpeg' %}">
                    </div>
                    <div class="text-center mt-4">
                        <div class="">
                            <h3 class="">Our Mission</h3>
                            <p>To create interpretive displays, wayfinding signage, and park information
                                displays
                                that are helpful, engaging, attractive, ADA-accessible, durable and affordable while
                                giving
                                all of our clients the personal attention they deserve.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col my-3 mx-3" style="min-width: 23rem; max-width: 30rem;">
                <div class="h-100">
                    <div class="text-center my-3">
                        <img class="rounded-circle profiles" src="{% static 'naturegraphics/profile1.webp' %}">
                    </div>
                    <div class="text-center mt-4">
                        <div class="">
                            <h3 class="">The Owner</h3>
                            <p>Lea Beazley understands first-hand the importance of effective
                                interpretive
                                displays in parks. Before starting her own company, she worked as a park ranger and
                                district
                                interpretation & education specialist for North Carolina State Parks. She saw how
                                poorly
                                designed interpretive displays and wayfinding signage detract from the visitor
                                experience
                                while well-designed displays and signage enhance it.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <hr width="90%" class="mx-auto">
        <div class="text-center mb-5 p-2">
            <h2 class="p-1 mt-5 mb-3">News Articles</h2>
            <p>
                <a
                    href="https://www.lakegastongazette-observer.com/leisure/article_ff27e82e-88c9-11eb-907f-af6326bccc93.html">The
                    signs you see at parks, beaches and historical sites? They have a Lake Gaston tie. -Lake Gaston
                    Gazette</a>
            </p>
            <p>
                <a
                    href="https://www.lakegastongazette-observer.com/opinion/article_875f5ae8-88ce-11eb-8bbe-a7a79c9398e8.html">Signs
                    are more than the words that make them up -Lake Gaston Gazette</a>
            </p>
            <p>
                <a href="https://www.wdef.com/louvin-brothers-marker-added-in-patten-square/">Louvin Brothers Marker
                    Added in Patten Square -WDEF</a>
        </div>
    </div>
</body>
{% endblock %}